.header-list {
  display:flex;
  align-items: baseline;
  list-style-type: none;
  gap: 12px;
  padding-right: 40px;
}

.header-logo {
  margin-right: auto;
}

nav {
  border-bottom: 1px dotted
  hsl(0deg 0% 0% / 0.2);
}

